<h1>Seja Bem-vindo</h1>
 
<ul>
    <li><a href="https://rails-kevinbreaker.c9users.io/contacts">Contatos</a></li>
    <li><a href="https://rails-kevinbreaker.c9users.io/kinds">Tipos</a></li>
    <li><a href="https://rails-kevinbreaker.c9users.io/phones">Numeros</a></li>
    <li><a href="https://rails-kevinbreaker.c9users.io/addresses">Enderecos</a></li>
    
</ul>
